version: "3.9"

services:
  mysql:
    image: mysql:9.2
    restart: always
    expose:
      - 3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      mysql:
        aliases:
          - mysql

    volumes:
      - db:/var/lib/mysql
      - ./schema.mysql.sql:/docker-entrypoint-initdb.d/schema.mysql.sql # Apply MySQL schema on startup

  ruuvi-api:
    build: .
    container_name: ruuvi-api
    restart: always
    ports:
     - 8080:8080
    environment:
      DB_HOST: mysql
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
      SERVER_PORT: 8080
    networks:
      mysql:

networks:
  mysql:

volumes:
  db:
